{% extends 'web/base_main.html' %}

{% block script1 %}
<script>
        window.onload = function ()
        {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function ()
            {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
{% endblock %}

{% block main %}
    <div class="bloglist f_l">

        <ul>
            {% for article in articles %}
                <li>
                    <h3 class="blogtitle">
                        <span><a href="/jstt/css3/" title="css3" target="_blank" class="classname">个人博客</a></span>
                        <a href="/web_home/" target="_blank">{{ article.article_title }}</a>
                        <div class="bloginfo">
                            <span class="blogpic">
                                <a href="/web_home/" title={{ article.article_title }}><img src="../../static/web/images/01.jpg" alt={{ article.article_title }}></a>
                            </span>
                            {{ article.article_text | safe }}
                        </div>
                        <div class="autor">
                            <span class="lm f_l"></span>
                            <span class="dtime f_l">{{ article.create_time | safe }}</span>
                            <span class="viewnum f_l">浏览（<a href="/">1000</a>）</span>
                            <span class="f_r">
                                <a href="/web_home/" class="more">阅读原文&gt;&gt;</a>
                            </span>
                        </div>
                    </h3>
                </li>
            {% endfor %}
        </ul>



    </div>

{% endblock %}

